/* Start of my css code 
using a textured image to create my background.
 */

body {
  background-image: url("images/grey.jpg");
}

/* Creating a sense of seperation from top of header and the rest of the body with background color and styling h1 */

body > header > div {
  padding: 30px;
  background: #E8DCB9;
  font-family: impact;
  font-size: 20px;
  color: #0D3B66;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* styling h3 as a link with psuedo-classes and using semantic containers to only change this specific link as i will use a slightly different color on my other links */

body > header > div > h2 {
  font-family: monospace, arial;
  color: #F95738;
  width: auto;
  text-align: center;
}

body > header > div > h2 > a:link    { color: #F95738;  }
body > header > div > h2 > a:visited { color: #F95738;   }
body > header > div > h2 > a:hover   { color: lightseagreen; }
body > header > div > h2 > a:active  { color: whitesmoke;  }

/* adding my favorite drone shot I took in Malibu California as my img because its so peacful =) */

main > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 60%;
}

/* Styling the first horizontal rules and adding the CSS property of 'height' to make it look a little nicer */

main > div > hr {
  border: 1px solid #0D3B66;
  height: 1px;
  width: 1300px;
}

/* Styling the h2 inside the body while utilizing the proper semantic containers to ensure I only change what I intend to */

main > div > article > section > header > h3 {
  display: block;
  font-family: cambria;
  font-size: 26px;
  color: #F95738;
  font-weight: bolder;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Styling the paragraph and unorganized lists while again using semantic containers for the best creative control */

main > div > article > section > p, ul {
  display: block;
  font-family: Georgia;
  font-size: 18px;
  color: #0D3B66;
  font-weight: bold;
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* using containers to change the organized lists to be slightly different the ul and creating Styled links using pseudo-classes */

main > div > article > section > ol {
  display: block;
  font-family: 'courier new';
  font-size: 18px;
  color:#0D3B66;
  font-weight: bolder;
  width: 67%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

a:link    { color: #0D3B66;  }
a:visited { color: #0D3B66;   }
a:hover   { color: lightseagreen; }
a:active  { color: pink;  }

/* second hr */

main > div > article > hr {
  border: 1px solid #0D3B66;
  height: 1px;
  width: 1300px;
}

/* again seperating footer from the rest of the body with a background color and styling the paragraph differently */

body > footer > div > p {
  display: block;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  color: #F95738;
  width: 70%;
  font-weight: bolder;
  text-align: left;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

body > footer > div {
  padding: 10px;
  background: #E8DCB9;
}

/* end of css code */